body
{
	background-image: url("background3.jpg");
    background-position: center;
    background-size: cover;
}

div
{
		background: rgba(213, 166, 166, 0.614);
		padding: 5px;
		float: none;
		border-radius: 15px;
		font-family: 'Oswald', sans-serif;
		width: 30%;
}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
	
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: rgba(255, 255, 255, 0.829);
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
input
{
	    display: inline-block;
	    background: rgba(255, 255, 255, 0.363);
		padding: 10px;
		float: none;
		border-radius: 15px;
		
}
button
{
	border-radius: 50px;
	background-color: rgb(255, 121, 128);
	border: 0cm;
	height: 5%;
	text-align: center;
	text-decoration: solid;
	width: 30%;
	font-size: medium;
	font-family: 'Oswald', sans-serif;
}

#wee
{
	width: 600px
}